
/* ----------Estilos filtrar_tabla----------- */
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.boton404 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.boton404:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.boton404:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .boton404 {
    padding: 13px 50px 13px;
  }
}

.filtro {
    color: red !important;
}

/* ----------Estilos mostrar_datos (Informe)----------- */

#informe {
  display:none;
}

#btnOcultar {
  display: none;
}



/* ----------Estilos generales----------- */
body {
  background-repeat:no-repeat ;
  background-position: center center;  
  background-image: url(../images/finanzas.jpg);
  background-size: cover;
  background-attachment: fixed; 
}
label {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 0.3rem;
  margin: 0.5rem 0 0.2rem 0;
}

.container {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem 0 1rem 0;
}


/* ----------Estilos ImprimirDatos----------- */
thead {
  border-radius: 5px !important;
}

.carga-datos {
  display: flex !important;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 overflow: hidden;

 
}

.no-data {
  max-width: 100%;
  height: auto;
}